<!DOCTYPE html>
<html>
<head>
    <title>Home - Translator App</title>

     <style>
        body {
            font-family: Arial;
            text-align: center;
            background-color: pink;
        }    
    </style>
</head>

<body>        
        <!--NAVBAR-->
        <div class="navbar">
            <a href="home.html">Home</a>
            <a href="about.html">About</a>
            <a href="history.html">History</a>
            <a href="login.html">Logout</a>
        </div>

    <div class="container">
    <h2><u><i>Welcome to Image Translate Web App</i></u></h2>
    
</body>
</html>